* text=auto
*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.ipynb text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
weights/** binary
weights/**/*.md text diff merge eol=lf
